<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
    <style>
        body {
            position: relative;
            left: 10px
        }
    </style>
    <title>注册页面</title>
</head>
<body>
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a class="pure-menu-link" href="/">首页</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/user/login/view" >登录</a></li>
        </ul>
    </div>
    <form class="pure-form pure-form-stacked" action="/user/register" method="post">
        <fieldset>
            <h2>注册</h2>
            <input type="text" name="username" placeholder="请输入用户名">
            <br>
            <input type="text" name="password" placeholder="请输入密码">
            <br>
            <button class="pure-button pure-button-primary" type="submit">注册</button>
        </fieldset>
    </form>
    <h3>{{result}}</h3>
</body>
</html>